/* Entire site has boader box with padding of 0 & margin of 0 */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Body background color */
body {
    background-color: #d9dcd6;
}

/* Header Modifications: padding, font, color, & text color */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Header h1 will be inline with Horiseon text, text size defined */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Header "SEO" in Horiseon color changed */
.header h1 .seo {
    color: #d9dcd6;
}

/* Header links modification: padding, margin, float, font & text size */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Header url style */
.header div ul {
    list-style-type: none;
}

/* Header url list modification */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* a tag text color & text decoration */
a {
    color: #ffffff;
    text-decoration: none;
}

/* p tag text size */
p {
    font-size: 16px;
}

/* Figure or Hero Modications: height, width, margin, image link & image size */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Float Left margin */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Float Right margin */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Added section to follow HTML Semantic Structure */
/* Section Modification: width, display, margin */
section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Added aside to follow HTML Semantic Structure */
/* Aside Modifications: margin, padding, clear, flot, width, hight, font, background color */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Benefit-lead margin & text color */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Benefit-brand margin & text color */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Benefit-cost margin & text color */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Benefit-lead text margin & text alignment */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Benefit-brand text margin & text alignment */
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Benefit-cost text margin & text alignment */
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Benefit-lead image modifications */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Benefit-brand image modifications */
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Benefit-cost image modifications */
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* SEO  blue box modification: margin, padding, height, font, background color, text color */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Online reputation blue box modification: margin, padding, height, font, background color, text color */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Social Media blue box modification: margin, padding, height, font, background color, text color */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* SEO image max height */
.search-engine-optimization img {
    max-height: 200px;
}

/* Online Reputation image max height */
.online-reputation-management img {
    max-height: 200px;
}

/* Social Media image max height */
.social-media-marketing img {
    max-height: 200px;
}

/* SEO h2 margin & font size */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Online Reputation h2 margin & font size */
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Social Media h2 margin & font size */
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Footer Modification: padding, clear, font, text alignment */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Footer h2 font size */
.footer h2 {
    font-size: 20px;
}
